@{
    ViewData["Title"] = "List";
}

<h1> Author </h1>
<table>
    <thead>
        <tr>
            <th>AuthorID</th>
            <th>Author Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Author author in ViewBag.Authors)
        {
            <tr>
                <td><a href="/Author/Details?id=@(author.ID)">@(author.ID)</a></td>
                <td>@(author.Name)</td>
            </tr>
        }
    </tbody>
</table>

<!-- // Code borowed: https://github.com/TECHCareers-by-Manpower/4.1-MVC/tree/master/MVC_4Point1 -->
